 <div class='container'>
     
     <% @subinfo.each do |p| %>
            <li class="list-group-item">
                <span class="badge"><%= p.Title_like %></span>
                <%= p.Title_info %>
                
                
            </li>
    <% end %>
     
 </div>
 
 
 